<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="amplifier" class="com.lexxstudy.spring_aop.common.Amplifier" />

    <bean id="amplifierService" class="com.lexxstudy.spring_aop.common.AmplifierService">
        <property name="amplifier" ref="amplifier" />
    </bean>

    <bean id="beforeAdviser" class="com.lexxstudy.spring_aop.aop.BeforeAdviser" />
    <bean id="afterAdviser" class="com.lexxstudy.spring_aop.aop.AfterAdviser" />

    <bean id="amplifierServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean" >
        <property name="target" ref="amplifierService"/>
        <property name="interceptorNames">
            <list>
                <value>beforeAdviser</value>
                <value>afterAdviser</value>
            </list>
        </property>
    </bean>

</beans>